*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: black;
	background-color: white;
	font-family: sans-serif;
}

button {
	cursor: pointer;
	outline: none;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover,
a:focus {
	text-decoration: none;
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
	font-variant-numeric: tabular-nums;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

.time.view-showHours {
	font-size: 1em;
}

.fullScreenCountdown {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20vw;
	color: #000000;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #FFFFFF;
		background-color: #121212;
	}

	.fullScreenCountdown {
		color: #FFFFFF;
		background-color: #000000;
	}
}

.controlPanel {
	display: flex;
	flex-direction: column;
	padding: 1em;
	max-width: 900px;
	margin: 0 auto;
}

.controlPanel button {
	position: relative;
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 2em 1em;
	border: 1px solid;
}
.controlPanel button::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: currentColor;
	opacity: 0.1;
	transition: opacity 0.2s;
}
.controlPanel button:hover::before {
	opacity: 0.2;
}
.controlPanel button:active {
	transform: translateY(1px);
}

.controlPanel-preview,
.controlPanel-title,
.controlPanel-url {
	border: 1px solid;
	margin-top: -1px;
}

.controlPanel-preview {
	font-size: 32px;
	padding: 0.25em;
}

.controlPanel-title {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 0.25em;
}

.controlPanel-mainControls {
	display: grid;
}

.controlPanel-presets {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin-top: 1em;
}

.controlPanel-mainControls,
.controlPanel-presets {
	gap: 0.5em;
}

.controlPanel-preset {
}

.controlPanel-url {
	padding: 1em;
	background-color: transparent;
	color: inherit;
	text-align: center;
	margin-bottom: 5em;
}
